---
import PillHeading from "./PillHeading.astro";

import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";

const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/header_1.png"
);
const { name, description, imgPath } = Astro.props;
if (!images[imgPath])
  throw new Error(
    `"${imgPath}" does not exist in glob: "src/assets/header_1.png""`
  );
---


<article class="card">
  <h2>{name}</h2>
  <p>{description}</p>
  <Image src={images[imgPath]()} alt={name} />
</article>
<PillHeading/>
<h1>TEXT TEXT </h1>

<style>
/**BOX AROUND PILL AND TEXT */
</style>